.image-tool__image, .image-tool__caption {
  max-width: 650px;
  margin: 0 auto;
}

body {
  background-color: var(--black-100);
  color: var(--white);
  background-image: url("./assets/images/img-noise-200x200.png");
  background-position: 0 0;
  background-size: 200px 200px;
}