:root {
  --contrast: #00f0ff;
}

@font-face {
  font-family: 'Blender-Pro-Book';
  src: url(./assets/fonts/Blender-Pro-Book.otf) format('otf');
}

body {
  background-color: var(--black-100);
  color: var(--white);
  background-image: url("./assets/images/img-noise-200x200.png");
  background-position: 0 0;
  background-size: 200px 200px;
  font-family: Blender-Pro-Book, sans-serif;
  
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  color: var(--contrast);
}